<%= form_with(model: award, local: true) do |form| %>
  <% if award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :award_name %>
  </div>

  <div class="field">
    <%= form.label :merchant_id %>
    <%= form.number_field :merchant_id, id: :award_merchant_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :award_description %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :award_user_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, id: :award_status %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.text_field :avatar, id: :award_avatar %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
